body,
html {
  background: #15171e;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #15171e;
  display: grid;
  place-items: center;
  z-index: 999;
}
.spinner-wrapper .spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-wrapper .spinner .sk-folding-cube {
  position: absolute;
  width: 35px;
  height: 35px;
  transform: rotateZ(45deg);
  z-index: 9;
}
.spinner-wrapper .spinner .sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  background-color: #51b2ff;
}
.spinner-wrapper .spinner .sk-folding-cube .sk-cube1 {
  transform-origin: 100% 100%;
}
.spinner-wrapper .spinner .sk-folding-cube .sk-cube2 {
  transform-origin: 100% 100%;
}
.spinner-wrapper .spinner .sk-folding-cube .sk-cube3 {
  transform-origin: 0% 0%;
}
.spinner-wrapper .spinner .sk-folding-cube .sk-cube4 {
  transform-origin: 0% 0%;
}